<h1>Menu de Pausa</h1>

<h2>Volumen</h2>
<label for="volumen-efectos">Efectos</label>
<input type="range" max="100" min="0" value="100" step="1" id="volumen-efectos">
<label for="volumen-musica">Música</label>
<input type="range" max="100" min="0" value="100" step="1" id="volumen-musica">
<h2>Controles</h2>
<img src="https://pagina-simx72-aba9b.web.app/asteroids-assets/images/PNG/Controles.png" alt="Arriba para avanzar, Abajo para retroceder, A los lados para girar y
    Espacio para disparar" style="width: 80%; background: #164abb71;
    backdrop-filter: blur(4px); -webkit-backdrop-filter: blur(4px);
    border-radius: 2px;">

<h2>Creditos</h2>
<ul>
    <li>Iconos diseñados por <a href="https://www.freepik.com" target="_blank" rel="noopener noreferrer">Freepik</a> de
        <a href="https://www.flaticon.es/" target="_blank" rel="noopener noreferrer">www.flaticon.es</a></li>
    <li>Iconos diseñados por <a href="https://www.flaticon.es/autores/good-ware" target="_blank" rel="noopener noreferrer">Good Ware</a> de <a href="https://www.flaticon.es/" target="_blank" rel="noopener noreferrer">www.flaticon.es</a></li>
    <li>Iconos diseñados por <a href="https://www.flaticon.es/autores/dinosoftlabs" target="_blank" rel="noopener noreferrer">DinosoftLabs</a> de <a href="https://www.flaticon.es/" target="_blank" rel="noopener noreferrer">www.flaticon.es</a>
    </li>
    <li>Iconos diseñados por <a href="https://icon54.com/" target="_blank" rel="noopener noreferrer">Pixel
            perfect</a> de <a href="https://www.flaticon.es/" target="_blank" rel="noopener noreferrer">www.flaticon.es</a>
    </li>
    <li>Fuente(de texto): <a href="https://fonts.google.com/specimen/Chakra+Petch" target="_blank" rel="noopener noreferrer">https://fonts.google.com/specimen/Chakra+Petch</a></li>

    <li>Música Nivel 1: JoesAlotofthings <br> Música niveles 2, 3, 4: <br> Music: 'Track name' by Of Far Different Nature
        <br> <a href="https://fardifferent.bandcamp.com/" target="_blank" rel="noopener noreferrer">https://fardifferent.bandcamp.com/</a>
    </li>
</ul>